<body id="hp">

    <div class="top-message">
        Psst! Just to let you know that EcoSystem is still in early-stage development and not quite ready for prime time, so please
        don't use it in production just yet.
    </div>

    <nav class="nav">
        <div class="nav-left">
            <a href="/" class="nav-item">
                <img src="/images/eco-logo-colour.png" alt="EcoSystem Logo">
            </a>
        </div>

        <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
        <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
        <span id="main-nav-toggle" class="nav-toggle" onclick="toggleMainNav()">
        <span></span>
        <span></span>
        <span></span>
        </span>

        <!-- This "nav-menu" is hidden on mobile -->
        <!-- Add the modifier "is-active" to display it on mobile -->
        <div id="main-nav" class="nav-right nav-menu">
            <a href="/businesses/introduction" class="nav-item">
      Businesses
    </a>
            <a href="/developers/technical-overview" class="nav-item">
      Developers
    </a>

    <a href="/documentation/overview" class="nav-item">
      Docs
    </a>

            <a href="/demos" class="nav-item">
      Demos
    </a>

            <a href="https://gitter.im/ecosystemsoftware/Lobby#" class="nav-item">
      Chat
    </a>



            <span class="nav-item">
      <a href="https://github.com/ecosystemsoftware" class="button is-primary">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
            <span>Download</span>
            </a>
            </span>
        </div>
    </nav>