<aside class="menu">
  <p class="menu-label">
    For Businesses
  </p>
  <ul class="menu-list">
    <li><a href="/businesses/introduction">Introduction</a></li>
    <li><a href="/businesses/the-problem">What problem does EcoSystem solve?</a></li>
    <li><a href="/businesses/the-solution">How does EcoSystem tackle this problem?</a>
      <ul>
        <li><a href="/businesses/database">The database</a></li>
        <li><a href="/businesses/server">The server</a></li>
        <li><a href="/businesses/admin-interface">The admin interface</a></li>
      </ul>
    </li>
    <li><a href="/businesses/the-case-for-ecosystem">The business case for EcoSystem</a>
  </ul>
  <p class="menu-label">
    For Developers
  </p>
  <ul class="menu-list">
    <li><a href="/developers/technical-overview">Technical Overview</a></li>
  </ul>
  <p class="menu-label">
    Documentation
  </p>
  <ul class="menu-list">
    <li><a>Database</a></li>
    <li><a>Server</a></li>
    <li><a>Admin Interface</a></li>
  </ul>
</aside>