<aside class="menu">
    <p class="menu-label">
        Command Line Application
    </p>
    <ul class="menu-list">
        <li>
            <a href="/documentation/application/installation">Installation and project structure</a>
            <a href="/documentation/application/commands">Commands</a>
            <a href="/documentation/application/configuration">Configuration</a>
            <!--<a href="/documentation/application/bundles">Bundles</a>
            <a href="/documentation/application/custom-builds">Custom builds</a>-->
        </li>
    </ul>
    <p class="menu-label">
        Database
    </p>
    <ul class="menu-list">
        <li>
            <a href="/documentation/database/writing-logic-for-ecosystem">Writing logic for EcoSystem</a>
        </li>
    </ul>
    <p class="menu-label">
        API Server
    </p>
    <ul class="menu-list">
        <li>
            <a href="/documentation/application"></a>
        </li>
    </ul>
    <p class="menu-label">
        Web Server
    </p>
    <ul class="menu-list">
        <li>
            <a href="/documentation/application"></a>
        </li>
    </ul>
    <p class="menu-label">
        Admin Panel
    </p>
    <ul class="menu-list">
        <li>
            <a href="/documentation/application"></a>
        </li>
    </ul>




</aside>