{{ partial "header.html" . }} {{ partial "subheader.html" . }}

<section class="hero super">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter has-text-centered">
                    <img class="logo animated bounceInDown" src="/images/eco-symbol.png" />
                </div>
                <div class="column">
                    <h1 class="title">
                        It's
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                    </h1>
                    <h2 class="subtitle">
                        Let's stop doing ERP and web like it's 1999.
                    </h2>
                    <p>Replace your legacy ERP system and tangled mess of disconnected web platforms, plugins and integrations with a <strong>single open-source platform</strong> built on the principles of <strong>custom data, custom logic and unlimited, directly connected web interfaces.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero super">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half has-text-centered">
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/lsr2pZeYEfY?rel=0&amp;controls=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe></div>
                </div>
                <div class="column is-half">
                    <p>Watch me build a simple website and backend management system for a dog shelter in <strong>15 minutes</strong> with EcoSystem.</p>
                    <hr />
                    <p><strong>TL;DW: </strong>EcoSystem helps you <strong>quickly</strong> build <strong>custom</strong> software to run your business and power
                        <strong>connected</strong> websites and apps.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third has-text-centered">
                    <h1 class="title">
                        Keep up-to-date with EcoSystem's progress
                    </h1>
                </div>
                <div class="column has-text-centered">
                    <!-- Begin MailChimp Signup Form -->
                    <form action="//pincas.us1.list-manage.com/subscribe/post?u=834cca26a3dffd3438f614317&amp;id=ccb78f5d77" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="control is-grouped">
                            <p class="control is-expanded">
                                <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Enter email address">
                            </p>
                            <p class="control">
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_834cca26a3dffd3438f614317_ccb78f5d77" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-primary"></div>
                            </p>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                        </div>
                        <p>
                            <strong>No spam. No junk.</strong> Just updates on releases and features.
                        </p>
                    </form>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-1 has-text-centered">
                    <svg class="arrow big green animated zoomIn delay1" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            {{ partial "arrow.html" . }}
          </svg>
                </div>
                <div class="column">
                    <h1 class="title">
                        Why EcoSystem?
                    </h1>
                    <h2 class="subtitle">
                        EcoSystem is an open-source platform for building custom, web-connected business software; it doesn't make any assumptions about your business requirements, allowing you to build only and exactly what you need - and in a matter of hours, not months.
                    </h2>
                    <a href="/businesses/introduction">
            Read a complete overview of EcoSystem
             <svg class="arrow animated infinite pulse is-primary" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              {{ partial "arrow.html" . }}
            </svg>
          </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column">
                    <h1 class="title">
                        EcoSystem is for SMEs
                    </h1>
                    <h2 class="subtitle">
                        As a modern, dynamic business, you need slick software to run your internal operations and communicate effectively with customers. Say goodbye to expensive, bloated and severely limiting monolithic software, to building e-commerce on blog platforms, to
                        hacking on plugins and to messy and costly integrations.
                    </h2>
                    <a href="/demos">Try a Demo of EcoSystem
            <svg class="arrow is-primary animated infinite pulse" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              {{ partial "arrow.html" . }}
            </svg>
          </a>
                </div>
                <div class="column is-1 has-text-centered">
                    <svg class="arrow big red left animated zoomIn delay2" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            {{ partial "arrow.html" . }}
          </svg>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-1 has-text-centered">
                    <svg class="arrow big lightred animated zoomIn delay3" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            {{ partial "arrow.html" . }}
          </svg>
                </div>
                <div class="column">
                    <h1 class="title">
                        EcoSystem is for Developers
                    </h1>
                    <h2 class="subtitle">
                        EcoSystem is a toolset consisting of a web and API server written in Go and a versatile admin panel in Polymer. As an EcoSystem ERP developer, you write PostgreSQL, supply the web templates, and configure the admin panel with JSON. EcoSystem is open source
                        (and always will be), lightweight, has a shallow learning curve and deliberately seeks to avoid complexity at all levels.
                    </h2>
                    <a href="/developers/technical-overview/">Learn about EcoSystem's technical architecture
            <svg class="arrow animated infinite pulse is-primary" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              {{ partial "arrow.html" . }}
            </svg>
          </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="open-source-projects" class="hero super">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Free and Open-Source. Forever.
            </h1>
            <h3>And EcoSystem builds on some of the best open-source technologies out there.</h3>

            <div class="columns">
                <div class="column is-3 has-text-centered">
                    <a href="https://www.postgresql.org" title="Postgres DB" label="Postgres DB">
                        <img class="logo" src="/images/postgres-logo.png" />
                    </a>
                </div>
                <div class="column is-3 has-text-centered">
                    <a href="https://golang.org" title="Go Programming Language" label="Go Programming Language">
                        <img class="logo" src="/images/go-logo.png" />
                    </a>
                </div>
                <div class="column is-3 has-text-centered">
                    <a href="https://www.polymer-project.org/1.0/" title="Polymer Project" label="Polymer Project">
                        <img class="logo" src="/images/polymer-logo.png" />
                    </a>
                </div>
                <div class="column is-3 has-text-centered">
                    <a href="https://gin-gonic.github.io/gin/" title="Gin Web Framework for Go" label="Gin Web Framework for Go">
                        <img class="logo" src="/images/gin-logo.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer.html" . }}