{{ partial "header.html" . }} {{ partial "subheader.html" . }}

<section class="hero super">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-quarter has-text-centered">
                    <img class="logo animated bounceInDown" src="/images/ecosystem-symbol.png" />
                </div>
                <div class="column">
                    <h1 class="title">
                        A Data-Based Web Framework
                    </h1>
                    <h3 class="subtitle is-5">
                        You write SQL. EcoSystem does the rest.
                    </h3>
                    <p>
                        EcoSystem makes it quick and enjoyable to develop sites and apps using the power of PostgreSQL to specify your data and logic
                        requirements.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section class="hero super">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-half has-text-centered">
                    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed/lsr2pZeYEfY?rel=0&amp;controls=0&amp;showinfo=0' frameborder='0' allowfullscreen></iframe></div>
                </div>
                <div class="column is-half">
                    <p>Watch me build a simple website and backend management system for a dog shelter in <strong>15 minutes</strong> with EcoSystem.</p>
                    <hr />
                    <p><strong>TL;DW: </strong>EcoSystem helps you <strong>quickly</strong> build <strong>custom, data-centric</strong> websites and apps.  It's like directly plugging your database into the web.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>-->

<section class="hero">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-one-third has-text-centered">
                    <p class="title is-5">
                        Keep up-to-date with EcoSystem's progress
                    </p>
                </div>
                <div class="column has-text-centered">
                    <!-- Begin MailChimp Signup Form -->
                    <form action="//pincas.us1.list-manage.com/subscribe/post?u=834cca26a3dffd3438f614317&amp;id=ccb78f5d77" method="post" id="mc-embedded-subscribe-form"
                        name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="control is-grouped">
                            <p class="control is-expanded">
                                <input type="email" value="" name="EMAIL" class="required email input" id="mce-EMAIL" placeholder="Enter email address">
                            </p>
                            <p class="control">
                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_834cca26a3dffd3438f614317_ccb78f5d77" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button is-primary"></div>
                            </p>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                        </div>
                        <p>
                            <strong>No spam. No junk.</strong> Just updates on releases and features.
                        </p>
                    </form>
                    <!--End mc_embed_signup-->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">

                <div class="column">
                    <h1 class="title">
                        Key Features
                    </h1>
                    <h2 class="subtitle prettylist">
                        <ul>
                            <li>Easy to get started. Just write SQL!</li>
                            <li>Written in Golang - fast and easy to deploy.</li>
                            <li>Organise, share and reuse data and logic with "bundles".</li>
                            <li>Ready to use off-the-shelf - no need to learn Go, but...</li>
                            <li>...fully extensible with simple Go packages: easy to create a custom build.</li>
                            <li>Standard build includes core API, JWT auth and image resizing.</li>
                            <li>Roadmap for packages includes: admin dashboard, HTML web server, Hugo integration for static
                                sites, auto-generating API docs and more... </li>
                        </ul>
                    </h2>
                    <a href="/developers/technical-overview/">Complete technical overview
            <svg class="arrow animated infinite pulse is-primary" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              {{ partial "arrow.html" . }}
            </svg>
            
            </svg>
          </a>
                </div>


                <div class="column is-6">
                    <!--<svg class="arrow big green animated zoomIn delay1" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            {{ partial "arrow.html" . }}
          </svg>-->
                    <h1 class="title">
                        Built For Developers
                    </h1>
                    <h2 class="subtitle">
                        EcoSystem is a development platform centred around a JSON API server written in Go. When developing on EcoSystem, you code
                        data and logic in PostgreSQL and let EcoSystem take care of the boilerplate. EcoSystem is open source
                        (and always will be), lightweight, has a shallow learning curve and deliberately seeks to avoid complexity
                        at all levels.
                    </h2>
                    <a href="/documentation/overview/">Read the documentation
            <svg class="arrow animated infinite pulse is-primary" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              {{ partial "arrow.html" . }}
            </svg>
          </a>

                </div>

            </div>
        </div>
    </div>
</section>

<section class="hero is-dark">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-mobile">
                <div class="column is-1 has-text-centered">
                    <svg class="arrow big red animated zoomIn delay2" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        {{ partial "arrow.html" . }}
                    </svg>
                </div>
                <div class="column">
                    <h1 class="title">
                        EcoSystem is great for SMEs
                    </h1>
                    <h2 class="subtitle">
                        EcoSystem is an open-source platform for building custom, web-connected, data-driven software; it doesn't make any assumptions
                        about your business requirements, allowing you to build only and exactly what you need - and quickly.
                    </h2>
                    <a href="/businesses/introduction/">Read the business case for EcoSystem
            <svg class="arrow is-primary animated infinite pulse" viewBox="0 0 71 46" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              {{ partial "arrow.html" . }}
            </svg>
          </a>
                </div>

            </div>
        </div>
    </div>
</section>

<section id="open-source-projects" class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Free and Open-Source. Forever.
            </h1>
            <h3>And EcoSystem builds on some incredible open-source technologies, projects and libraries.</h3>

            <div class="columns is-multiline">
                <div class="column is-3 has-text-centered">
                    <a href="https://www.postgresql.org" title="Postgres DB" label="Postgres DB">
                        <img class="logo" src="/images/postgres-logo.png" />
                    </a>
                </div>
                <div class="column is-3 has-text-centered">
                    <a href="https://golang.org" title="Go Programming Language" label="Go Programming Language">
                        <img class="logo" src="/images/go-logo.png" />
                    </a>
                </div>
                <div class="column is-3 has-text-centered">
                    <a href="https://github.com/pressly/chi" title="Chi - lightweight, idiomatic and composable router for building Go 1.7+ HTTP services"
                        label="Chi - lightweight, idiomatic and composable router for building Go 1.7+ HTTP services">
                        <img class="logo" src="/images/chai.png" />
                    </a>
                </div>
                <div class="column is-3 has-text-centered">
                    <a href="https://github.com/pressly/chi" title="Viper - Go configuration with fangs" label="Viper - Go configuration with fangs">
                        <img class="logo" src="/images/viper.png" />
                    </a>
                </div>
                <div class="column is-3 has-text-centered">
                    <a href="https://github.com/spf13/cobra" title="Cobra - A Commander for modern Go CLI interactions" label="Cobra - A Commander for modern Go CLI interactions">
                        <img class="logo" src="/images/cobra.png" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


{{ partial "footer.html" . }}