{{ partial "header.html" . }} {{ partial "subheader.html" . }}

<section class="section hero is-dark">
    <div class="container">
        <h1 class="title">{{ .Title }}</h1>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-quarter">
                {{ partial "side-menu.html" . }}
            </div>
            <div class="column">
                <div class="article content">

                    <div class="columns">
                        <div class="column is-half has-text-centered">
                            <a target="_blank" href="{{ .Params.weblink }}"><img src="/images/{{ .Params.webscreenshot }}" alt="Image" /></a>
                            <span class="nav-item">
                                <a target="_blank" href="{{ .Params.weblink }}" class="button is-info">
                                <span class="icon">
                                    <i class="fa fa-desktop"></i>
                                </span>
                                <span>WEBSITE</span>
                            </a>
                            </span>
                            Browse the website
                        </div>
                        <div class="column is-half has-text-centered">
                            <a target="_blank" href="{{ .Params.adminlink }}"><img src="/images/{{ .Params.adminscreenshot }}" alt="Image"></a>
                            <span class="nav-item">
                                <a target="_blank" href="{{ .Params.adminlink }}" class="button is-info">
                                <span class="icon">
                                    <i class="fa fa-address-card"></i>
                                </span>
                                <span>ADMIN PANEL</span>
                            </a>
                            </span>
                            Access the management panel as an administrator.<br />
                            <strong>Email: </strong>info@ecosystem.software
                            <strong>Code: </strong>123456
                        </div>
                    </div>

                    {{ .Content }}
                </div>

                {{if .NextInSection}}
                <div class="has-text-centered">
                    <a class="button is-dark" href="{{.NextInSection.RelPermalink}}">
                        <span>Continue to "{{.NextInSection.LinkTitle}}" </span>
                        <span class="icon">
                        <i class="fa fa-arrow-right"></i>
                    </span>
                    </a>
                </div>
                {{end}}

            </div>
        </div>
    </div>
</section>

{{ partial "footer.html" . }}